.slide 
{
    width: 1024px;
    height: 786px;
}

.Titelfolie 
{
	background: blue;
}

.Abschnittsüberschrift 
{
	background: green;
}

.Titel-und-Inhalt 
{
}

.Titel-1
.Titel-2
.Titel-3
.Titel-4
.Titel-5
.Title-1
.Title-2 
.Title-3 
.Title-4 
.Title-5 
{
}

.Inhaltsplatzhalter-1
.Inhaltsplatzhalter-2
.Inhaltsplatzhalter-3
.Inhaltsplatzhalter-4
.Inhaltsplatzhalter-5
.Inhaltsplatzhalter-6
.Content-Placeholder-1
.Content-Placeholder-2
.Content-Placeholder-3
.Content-Placeholder-4
.Content-Placeholder-5
.Content-Placeholder-6
{
}

.Rechteck-1
.Rechteck-2
.Rechteck-3
.Rechteck-4
.Rechteck-5
.Rechteck-6
.Rectangle-1
.Rectangle-2
.Rectangle-3
.Rectangle-4
.Rectangle-5
.Rectangle-6
{
}