.slide 
{
    width: 1024px;
    height: 786px;
}

.Titelfolie 
{
	background: blue;
	color: white;
}

.Abschnittsüberschrift 
{
	background: green;
	color: white;
}

.Titel-und-Inhalt 
{
}

.Titel, 
.Title
{
	font-size: 80px;
}

.Inhaltsplatzhalter,
.Content-Placeholder
{
}

.Rechteck,
.Rectangle
{
}