.slide 
{
    width: 1024px;
    height: 786px;
}

.Titelfolie 
{
	background: blue;
}

.Abschnittsüberschrift 
{
	background: green;
}

.Titel-und-Inhalt 
{
}

.Titel
.Title
{
}

.Inhaltsplatzhalter
.Content-Placeholder
{
}

.Rechteck
.Rectangle
{
}